
.fa-r:before {
	font-weight: bold;
	content: 'R'
}

/* update colors  */
$link-color                       : #072F5F;
$link-color-hover                 : #3895D3;
$panel-link-color-hover           : #3895D3;
$panel-link-color                 : #58CCED;
$content-quote-color              : #072F5F;
$content-title-text-color         : #58CCED;
$content-pdf-button-color-hover   : #58CCED;
