---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import "default-color"; // default color variables for bobafett theme - remove it if you don't need
@import "defaults"; // If some ressources miss, look at this file, perhaps new ressources exist.


/*################################################################################*/
/*#       !!!!! CHANGE PARAMETER HERE TO CHANGE COLORS/FONTS etc... !!!!!        #*/
/*################################################################################*/

/*#######################*/
/*#       COLORS       #*/
/*#######################*/

$dark-color                       : #112236;
$medium-color                     : #436280;
$light-color                      : #a3bad2;

/*#######################*/
/*#       GENERAL       #*/
/*#######################*/

/* -- >links */
$link-color                       : $dark-color;
$link-color-hover                 : $medium-color;

/* --> Fonts */
$font-global                      : 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-panel                       : $font-global;
$font-content-quote               : Georgia, serif;
$font-content-section-title       : $font-global;
$font-content-post-title          : $font-global;
$font-content-post                : $font-global;

/*#######################*/
/*#        PANEL        #*/
/*#######################*/
/* --> ressources */
$avatar-image                     : "/assets/profile.jpg";  /* Need to be local (in assets folder) */
$background-image                 : "/assets/panel.jpg"; /*Need to be local (in assets folder)*/
/* --> Colors */
$panel-text-color                 : white;
$panel-summary-color              : white;

$panel-link-color                 : $light-color;
$panel-link-color-hover           : $medium-color;
$panel-nav-color-hover            : transparent;

/* --> background */
$panel-filter-and-background-color: black;
$panel-bg-opacity                 : 0.5;
$panel-bg-blur                    : 5px;

/* --> sizes */
$panel-name-size                  : 32px;
$panel-summary-size               : 24px;
$panel-socialicon-size            : 36px;
$panel-nav-text-size              : 25px;
$panel-nav-text-size-hover        : $panel-nav-text-size;
$panel-nav-text-marginbtm-size    : 8px;
$panel-avatar-size                : 180px;
$content-nav-height-to-remove   : 730px; // $screen-sm-min + 30 (30+/- if custom category)
/*#######################*/
/*#       CONTENT       #*/
/*#######################*/
/* --> Colors */
$content-background-color         : white;
$content-text-color               : $dark-color;
$content-quote-color              : $dark-color;
$content-title-text-color         : $medium-color;
$content-post-title-color         : $dark-color;
$content-post-info-color          : #818181;
$content-post-color               : #434343;
$content-link-color               : $medium-color;
$content-link-color-hover         : $medium-color;
$content-title-icon-color         : $dark-color;
$content-post-icon-color          : $dark-color;
$content-pdf-button-color         : $dark-color;
$content-pdf-text-color           : white;
$content-pdf-button-color-hover   : $medium-color;


/* --> sizes */
$content-post-text-size           : 18px;
$content-quote-font-size          : 40px;
$content-section-title-size       : 35px;
$content-post-title-font-size     : 22px;
$content-post-info-font-size      : 15px;
$content-post-typelist-font-size  : 18px; /* Post font size where is type is list (like hobbies, skills or informations)*/
$content-pdf-text-size            : $content-post-text-size;

/*#######################*/
/*#        FOOTER       #*/
/*#######################*/
$footer-background-color          : black;
$footer-text-color                : grey;
$footer-link-color                : $link-color-hover;
$footer-link-hover-color          : $light-color;


// Don't remove, it's all layouts !
@import "bobafett-layout", // Default theme CSS
        "custom" // override default CSS
        ;
