<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body  data-spy="scroll" data-target="#navbar" data-offset="300">
      {% if site.enable_ribbon %}
        {% include ribbon.html %}
      {% endif %}
        <!-- Left/top panel -->
      
      {% include panel.html %}


       <!-- top of content -->

      {% include content/1-header.html %}

      <!-- Include Section if one article minumum exist -->
      {% if site.categories.aboutme %}
        {% include content/2-aboutme.html %}
      {% endif %}

      {% if site.categories.publications %}
        {% include content/3-publications.html %}
      {% endif %}

      {% if site.categories.projects %}
        {% include content/4-projects.html %}
      {% endif %}      
      
      {% if site.categories.experiences %}
        {% include content/5-experiences.html %}
      {% endif %}
      
      {% if site.categories.skills or site.skills %}
        {% include content/6-skills.html %}
      {% endif %}
      
      {% if site.categories.educations %}
        {% include content/7-educations.html %}
      {% endif %}
      
      {% if site.categories.hobbies or site.hobbies %}
        {% include content/8-hobbies.html %}
      {% endif %} 
      
       <!-- inforamtions section + bottom of content -->
      {% include content/9-informations.html %}
      {% include content/10-footer.html %}
      
    </body>

   {% include footer.html %}
</html>